@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe0qMImSLYBIv1o4X1M8cfe6.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe03MImSLYBIv1o4X1M8cc9iB_5q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe03MImSLYBIv1o4X1M8cc8GBv5q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe03MImSLYBIv1o4X1M8cc8aBf5q.ttf) format('truetype');
}
body {
  font-family: "Nunito Sans", sans-serif;
}
.navbar-brand img {
  width: 375px;
}
.icon-phone {
  content: url(..//img/icon-phone.svg);
  width: 32px;
}
.navbar-custom {
  padding: 24px 88px;
  z-index: 999;
}
.navbar-custom .navbar-brand {
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 375px;
  height: 92px;
}
.navbar-custom .nav-link {
  color: white;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.9;
}
.navbar-custom .nav-link:hover {
  opacity: 1;
}
.navbar-custom .nav-link.active {
  color: #ed2c2c;
}
.navbar-custom .nav-link-contrast {
  background-color: #ed2c2c;
  padding: 2px 16px 4px 10px;
  color: white;
  font-size: 30px;
  font-weight: 700;
  border-radius: 2px;
  transition: 0.3s all ease;
}
.navbar-custom .nav-link-contrast:hover {
  background-color: #ff1a1a;
}
@media (max-width: 1199px) {
  .navbar-custom {
    background-color: #1f1a17;
    padding: 24px;
  }
  .navbar-custom .navbar-brand {
    background-image: url(../img/logo-white.svg);
    width: 260px;
    height: 64px;
  }
  .navbar-custom .navbar-toggler {
    border: 0;
    padding: 10px 14px;
  }
  .navbar-custom .navbar-toggler .navbar-toggler-icon {
    background-image: url(../img/icon-toggle.svg);
    border: 0;
  }
  .navbar-custom .navbar-toggler .navbar-toggler-icon:hover,
  .navbar-custom .navbar-toggler .navbar-toggler-icon:active,
  .navbar-custom .navbar-toggler .navbar-toggler-icon:focus {
    opacity: 0.8;
  }
  .navbar-custom .nav {
    flex-direction: column;
    text-align: right;
  }
  .navbar-custom .nav .nav-item {
    display: flex;
    justify-content: flex-end;
    padding: 16px 0;
  }
  .navbar-custom .nav .nav-item .nav-link-contrast {
    width: fit-content;
  }
}
.navbar-scroll-changed {
  background-color: #1f1a17;
  position: fixed;
  width: 100%;
  transition: 0.6s ease all;
  top: 0;
}
.navbar-scroll-changed .navbar-brand {
  background-image: url(../img/logo-white.svg);
  width: 260px;
  height: 64px;
  transition: 0.6s ease all;
}
.navbar-scroll-regular {
  transition: 0.6s ease all;
}
header {
  background: linear-gradient(106.78deg, #6997e2 0%, #f7e484 101.01%);
  position: relative;
  height: 85vh;
  z-index: 1;
}
@media (max-width: 991px) {
  header {
    height: auto;
  }
}
header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(71.61deg, #000000 0%, rgba(0, 0, 0, 0) 36.24%);
  opacity: 0.5;
  z-index: -1;
}
header.exterior {
  height: auto;
}
.hero {
  background-image: url(..//img/img-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100%;
}
@media (max-width: 991px) {
  .hero {
    height: auto;
    background: linear-gradient(43deg, #000000b5 0%, rgba(0, 0, 0, 0.5) 36.24%), url(..//img/img-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100%;
  }
}
.hero .hero__description {
  margin-top: 19vh;
}
@media (max-width: 991px) {
  .hero .hero__description {
    margin: 88px 24px 24px 24px;
  }
}
.hero .hero__description .hero__description__main {
  background-color: rgba(237, 44, 44, 0.9);
  padding: 48px 64px;
  color: white;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
@media (max-width: 991px) {
  .hero .hero__description .hero__description__main {
    padding: 32px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
.hero .hero__description .hero__description__main p.overline {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.03em;
  margin-bottom: 18px;
}
@media (max-width: 991px) {
  .hero .hero__description .hero__description__main p.overline {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.hero .hero__description .hero__description__main h1 {
  font-weight: 800;
  font-size: 42px;
  line-height: 123%;
  text-transform: uppercase;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .hero .hero__description .hero__description__main h1 {
    font-size: 28px;
  }
}
.hero .hero__description .hero__description__main h1 span {
  font-weight: 700;
  font-size: 32px;
  text-transform: none;
}
@media (max-width: 991px) {
  .hero .hero__description .hero__description__main h1 span {
    font-size: 28px;
  }
}
.hero .hero__description__sub {
  display: flex;
  align-items: center;
  padding: 16px 32px;
  justify-content: center;
}
.hero .hero__description__sub .hero__description__sub__block {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: white;
}
.hero .hero__description__sub .hero__description__sub__block:first-child {
  margin-right: 16px;
}
.hero .hero__description__sub .hero__description__sub__block img {
  margin-right: 12px;
}
.hero .form-main {
  margin-top: 18vh;
}
@media (max-width: 991px) {
  .hero .form-main {
    margin: 24px;
  }
}
.container-custom {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
.alert-promo {
  background-color: #302b27;
  border: 0;
  border-radius: 0;
  color: white;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}
.alert-promo a {
  color: white;
  font-weight: 700;
}
form .form-control {
  padding: 0.5rem 0.75rem;
  border-radius: 2px;
  border: 0;
}
form.form-main {
  background-color: #1f1a17;
  padding: 32px;
  color: white;
  border-radius: 4px;
}
form.form-main h3 {
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 2px;
}
@media (max-width: 991px) {
  form.form-main h3 {
    font-size: 26px;
  }
}
form.form-main h3 + div {
  margin-top: 12px;
}
form.form-main .muted {
  opacity: 0.4;
}
form.form-main.form-secondary {
  background-color: #ed2c2c;
  margin-top: 0;
}
.btn {
  padding: 10px 20px;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
}
.btn-primary-custom {
  background-color: #ed2c2c;
  color: white;
}
.btn-primary-custom:hover {
  background-color: #ff1a1a;
  color: white;
}
.btn-secondary-custom {
  background-color: #1f1a17;
  color: white;
}
.btn-secondary-custom:hover {
  background-color: #351501;
  color: white;
}
.bg-light {
  background-color: #f9f9f5 !important;
}
section {
  padding: 64px 0;
}
section .section-title {
  font-weight: 800;
  font-size: 30px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #1f1a17;
}
@media (min-width: 1400px) {
  section .section-title {
    max-width: 58%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  section .section-title {
    font-size: 24px;
  }
}
section .section-title__reviews::before {
  content: url(../img/icon-homestars.svg);
  display: inline-block;
  max-width: 100%;
  height: auto;
}
section .section-title + p {
  margin-top: 16px;
}
section .section-title + div {
  margin-top: 40px;
}
section .section-subtitle {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 8px;
}
.features-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
}
.features-block img {
  margin-bottom: 32px;
}
.features-block .features-block__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}
.features-block p {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #747474;
}
.carousel-large .carousel-block-wrap {
  padding-right: 16px;
  padding-left: 16px;
}
.carousel-large .carousel-block-wrap .carousel-block {
  position: relative;
}
.carousel-large .carousel-block-wrap .carousel-block .img-cover {
  position: relative;
  display: inline-flex;
  margin-bottom: 20px;
}
.carousel-large .carousel-block-wrap .carousel-block .img-cover img {
  max-width: 100%;
  height: auto;
}
.carousel-large .carousel-block-wrap .carousel-block .img-cover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(66.71deg, rgba(237, 44, 44, 0.71) 0%, rgba(237, 44, 44, 0.07) 41.18%, rgba(237, 44, 44, 0) 71.33%);
}
.carousel-large .carousel-block-wrap .carousel-block .carousel-block__title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  padding-left: 16px;
}
@media (max-width: 767px) {
  .carousel-large .carousel-block-wrap .carousel-block .carousel-block__title {
    font-size: 20px;
    padding-left: 0;
  }
}
.badge-price {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 3;
  width: 132px;
  height: 132px;
  background-color: #ed2c2c;
  border-radius: 50%;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .badge-price {
    width: 100px;
    height: 100px;
  }
}
.badge-price p {
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .badge-price p {
    font-size: 9px;
    letter-spacing: 1px;
  }
}
.badge-price p.price {
  font-weight: 800;
  font-size: 34px;
  line-height: 46px;
}
@media (max-width: 767px) {
  .badge-price p.price {
    font-size: 30px;
    line-height: 35px;
  }
}
.bg-dark__image {
  background: linear-gradient(0deg, rgba(31, 26, 23, 0.89), rgba(31, 26, 23, 0.89)), url(../img/img-bg-dark.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}
.bg-dark__image .section-title {
  color: white;
}
.bg-neutral {
  background-color: #f9f9f5;
}
.warranty {
  padding: 24px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.19);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #ed2c2c;
}
@media (max-width: 767px) {
  .warranty {
    font-size: 16px;
  }
}
.text-block h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
}
.text-block h3 {
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
}
.text-block h4 {
  font-weight: 800;
  font-size: 18px;
  line-height: 130%;
  color: #ed2c2c;
}
.text-block .text-block__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
}
.text-block p {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #747474;
}
.features-stripe {
  background-color: #ed2c2c;
  padding: 24px 0;
  color: white;
}
.features-stripe .features-stripe__wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .features-stripe {
    padding-bottom: 0;
  }
}
.features-stripe .features-stripe__block {
  display: flex;
  align-items: center;
  margin: 0 12px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.features-stripe .features-stripe__block img {
  margin-right: 12px;
}
@media (max-width: 767px) {
  .features-stripe .features-stripe__block {
    justify-content: center;
    margin-bottom: 24px;
  }
}
.reviews-block-wrap {
  padding: 0 16px;
}
.reviews-block-wrap .reviews-block {
  padding: 24px;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 16px;
}
.reviews-block-wrap .reviews-block .reviews-block__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 4px;
}
.reviews-block-wrap .reviews-block .reviews-block__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  opacity: 60%;
  margin-bottom: 12px;
}
.reviews-block-wrap .reviews-block p {
  font-size: 16px;
  line-height: 160%;
  color: #747474;
  margin-bottom: 0;
}
.reviews-block-wrap .reviews-block .reviews-raiting {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 12px;
}
.reviews-block-wrap .reviews-block .reviews-raiting img {
  margin-right: 6px;
}
.reviews-block-wrap .reviews-block .reviews-raiting img:last-child {
  margin-right: 8px;
}
.workshop-block-wrap {
  padding: 0 16px;
}
.cta {
  background-color: #1f1a17;
  padding: 48px 0;
  color: white;
}
.cta .cta-inner {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .cta .cta-inner {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.cta .cta-description {
  margin-right: 5%;
}
@media (max-width: 991px) {
  .cta .cta-description {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .cta .cta-description {
    margin-bottom: 24px;
  }
}
.cta .cta-description h2 {
  font-weight: 800;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media (max-width: 991px) {
  .cta .cta-description h2 {
    font-size: 20px;
  }
}
.cta .cta-description h3 {
  background-color: #ed2c2c;
  padding: 2px 8px;
  margin-bottom: 0;
  width: fit-content;
  border-radius: 4px;
  font-weight: 900;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0.07em;
}
@media (max-width: 991px) {
  .cta .cta-description h3 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .cta .cta-description h3 {
    margin: 0 auto;
  }
}
.cta .cta-contact {
  flex-shrink: 0;
}
.cta .cta-contact a {
  font-weight: 800;
  font-size: 44px;
  text-align: right;
  margin-bottom: 12px;
  color: #ed2c2c;
  text-decoration: none;
}
@media (max-width: 991px) {
  .cta .cta-contact a {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .cta .cta-contact a {
    text-align: center;
  }
}
.cta .cta-contact h4 {
  font-weight: 800;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: right;
}
@media (max-width: 991px) {
  .cta .cta-contact h4 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .cta .cta-contact h4 {
    text-align: center;
  }
}
.accordion-button-custom {
  font-weight: 800;
  font-size: 18px;
}
.accordion-button-custom:not(.collapsed) {
  background-color: #f9f9f5;
}
.service-area {
  background-image: url(../img/bg-service-area.png);
  background-repeat: no-repeat;
  background-position: top left;
}
.service-area h3 {
  text-align: left;
  max-width: 100%;
  margin-bottom: 24px;
}
.service-area p {
  font-weight: 500;
  font-size: 16px;
  opacity: 0.9;
}
.service-area .service-area__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 8px;
  width: 60%;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.service-area .service-area__list li {
  width: fit-content;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 16px;
  color: #ed2c2c;
}
footer {
  background-color: #1f1a17;
  padding-top: 40px;
  color: white;
  font-size: 14px;
}
footer h4 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
footer a {
  color: white;
  font-weight: 800;
  text-decoration: none;
}
footer a.phone {
  font-size: 18px;
}
footer .footer-block {
  display: flex;
  align-items: flex-start;
  margin-bottom: 32px;
}
footer .footer-block p {
  margin-bottom: 0;
}
footer .footer-block img {
  margin-right: 8px;
}
footer .footer-bottom {
  background-color: #302b27;
  text-align: center;
  padding: 16px 0;
}
footer .footer-bottom p {
  color: #f9f9f5;
  opacity: 0.6;
  margin-bottom: 0;
}
footer .footer-bottom p a {
  font-weight: 700;
  text-decoration: none;
}
.carousel-custom {
  margin-bottom: 56px !important;
}
.carousel-custom .slick-dots {
  bottom: -32px;
}
.carousel-custom .slick-dots li button:before {
  font-size: 9px;
}
.carousel-custom .slick-dots li.slick-active button:before {
  color: #ed2c2c;
  font-size: 9px;
}
.carousel-custom .slick-prev:before {
  content: url(../img/icon-arrow-prev.svg);
}
.carousel-custom .slick-next:before {
  content: url(../img/icon-arrow-next.svg);
}
.modal-custom .modal-content {
  background-color: #ed2c2c;
  padding-top: 0;
  border-radius: 4px;
}
.modal-custom .modal-content .modal-header {
  border: 0;
  padding: 24px 32px 0 32px;
}
.modal-custom .modal-content .modal-header .modal-title-custom h1 {
  font-weight: 800;
  font-size: 35px;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.modal-custom .modal-content .modal-header .modal-title-custom p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}
.modal-custom .btn-close {
  background-image: url(../img/icon-close.svg);
}
.modal-custom form {
  background-color: transparent;
}
.modal-custom form.form-main {
  padding-top: 0;
}
.modal-custom form.form-main .muted {
  opacity: 0.8;
}
